#about {
  overflow: hidden;
  position: relative;
  h1 {
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
  }
  h4 {
    color: $teal;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
}

.about {
  &--intro {
    padding: 2rem;
  }
}

.feature {
  padding: 2rem;
  h4 {
    font-size: 1.8rem;
    margin: 2.5rem;
  }

  &--icon {
    height: 10rem;
    align-self: center;
    margin: 0 auto;
  }
  &--copy {
    padding: 0 2rem;
    text-align: left;
    margin-bottom: 2rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
