@-ms-viewport {
    width: device-width;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: $dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}