// Theme Colors
$red: #79272b;
$teal: #369ba1;
$yellow: #f6a800;

// Grayscales
$white: #fff;
$light: #dedede;
$grey: #808080;
$dark: #464646;
$black: #000;

$width: 100%;
$gutter: 0%;
$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 1200px; // 960px

// Fonts
$font-title: "Open Sans", sans-serif;
$font-body: "Quicksand", sans-serif;
